<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>My Personal Space - <%= item[:title] %></title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <meta name="description" content="Personal portfolio of Nathan Brettell." />
    <meta name="keywords" content="web developer, portfolio, south west, cornwall, bristol, plymouth" />

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
    <!-- you don't need to keep this, but it's cool for stats! (I like stats!)-->
    <meta name="generator" content="nanoc <%= item[:version] %>">

    <link rel="stylesheet" href="/assets/styles/stylesheet.css" />
    <link rel="stylesheet" href="/assets/styles/font-awesome.css" />
    <link rel="stylesheet" href="/assets/styles/pygments/monokai.css" />

    <script type="text/javascript" src="/assets/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/jquery.smint.js"></script>
    <script type="text/javascript" src="/assets/scripts/script.js"></script>

    <%= ga_tracking_snippet %>
  </head>
  <body>
    <header role="header" id="header">
      <div class="navigation-wrapper navbar">
        <nav id="navigation" class="main-menu" role="navigation">
          <ul class="menu">
            <li class="menu-item"><a class="nav-link active" href="#home">Home</a></li>
            <li class="menu-item"><a class="nav-link" href="#projects">Projects</a></li>
            <li class="menu-item"><a class="nav-link" href="#skills">Skills</a></li>
            <li class="menu-item"><a class="nav-link" href="#contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="inside inside-header">
        <span id="logo"></span>
        <h1><%= item[:author] %></h1>
        <h2 class="greeting">That's Me.</h2>
        <p>I'm a <em>Web Developer</em>, from South West England.</p>
        <h3>This is what I do.</h3>
        <img class="pointer" src="/assets/images/downwards.png" />
      </div>
        <canvas id="canvas_lines"></canvas>
        <section id="home" class="home portfolio-section"><span>Just a placeholder for the Home navigation.</span></section>
    </header>
    <div id="page">
      <section id="projects" class="projects portfolio-section">
        <article id="past-project-showcase" class="portfolio-content gallery" role="gallery">
          <h1> Projects </h1>
          <%= yield %>
        </article>
        <article id="future-project-showcase" class="portfolio-content gallery" role="gallery">
          <h2>What I'm currently working on...</h2>
          <% items_with_tag('future').each do |post| %>
          <article class="post">
            <a href="<%= post[:url] %>">
              <h1><%= post[:title] %></h1>
              <img class="highlight-image" src="<%= post[:image] %>" />
              <span><i class="icon icon-<%= post[:icon] %>"></i> <%= post[:tag] %></span>
            </a>
          </article>
          <% end %>
        </article>
      </section>
      <section id="skills" class="skills portfolio-section">
        <article class="portfolio-content">
          <h1> Skills </h1>

          <div class="description">
            <p>My experience so far has led me to discover my strengths as a developer. My interest has pushed me to discover new and interesting topics and I like to get my hands dirty where possible.</p>
            <p>I started off a few years ago with little knowledge. Since then, I have been able to progress the skills that I have learnt. I'm not event afraid to use the command line anymore!</p>
          </div>
        </article>
      <div class="skills-tree">
        <ul class="skills-tags">
          <li class="tag skill blue-1"><span>JavaScript</span>
            <ul class="sub-skills">
              <li class="tag skill blue-2"><span>jQuery</span></li>
              <li class="tag skill blue-3"><span>UnderscoreJS</span></li>
              <li class="tag skill blue-4"><span>NodeJS</span></li>
            </ul>
          </li>
          <li class="tag skill green-1"><span>HTML5</span>
            <ul class="sub-skills">
              <li class="tag skill green-2"><span>Semantics</span></li>
              <li class="tag skill green-3"><span>Templating</span></li>
            </ul>
          </li>
          <li class="tag skill dblue-1"><span>PHP</span>
            <ul class="sub-skills">
              <li class="tag skill dblue-2"><span>Twig</span></li>
            </ul>
          </li>
          <li class="tag skill seagreen-1"><span>Ruby</span>
            <ul class="sub-skills">
              <li class="tag skill seagreen-2"><span>Nanoc</span></li>
            </ul>
          </li>
          <li class="tag skill indigo-1"><span>Linux</span>
            <ul class="sub-skills">
              <li class="tag skill indigo-2"><span>Ubuntu</span></li>
            </ul>
          </li>
          <li class="tag skill purple-1"><span>CSS</span>
            <ul class="sub-skills">
              <li class="tag skill purple-2"><span>BootStrap</span></li>
              <li class="tag skill purple-3"><span>SCSS</span></li>
              <li class="tag skill purple-4"><span>Bourbon</span></li>
            </ul>
          </li>
          <li class="tag skill dmagenta-1"><span>CMS</span>
            <ul class="sub-skills">
              <li class="tag skill dmagenta-2"><span>WordPress</span></li>
              <li class="tag skill dmagenta-3"><span>Drupal</span></li>
              <li class="tag skill dmagenta-4"><span>Shopify</span></li>
              <li class="tag skill dmagenta-5"><span>CiviCRM</span></li>
            </ul>
          </li>
          <li class="tag skill dcyan-1"><span>Database</span>
            <ul class="sub-skills">
              <li class="tag skill dcyan-2"><span>MySQL</span></li>
              <li class="tag skill dcyan-3"><span>NoSQL</span></li>
            </ul>
          </li>
            <li class="tag skill scarlet-1"><span>Subversion</span>
              <ul class="sub-skills">
                <li class="tag skill scarlet-2"><span>Git</span></li>
                <li class="tag skill scarlet-3"><span>SVN</span></li>
              </ul>
            </li>
        </ul>
    </div>
    </section>
    </div>
    <footer id="footer" role="footer">
      <div class="inside inside-footer">
        <section id="contact" class="contact portfolio-section">
          <h4> Contact </h4>
          <p>
            <span class="legal-stuff">&copy; <%= item[:author] %></span> -
            <i class="icon icon-envelope"></i>
            <a href="mailto:hello@nathanbrettell.com">hello@nathanbrettell.com</a>
          </p>
          <p><small>Built with <a href="http://nanoc.ws">Nanoc</a></small></p>
          <p><a href="https://github.com/Nafhed"><img class="github-link" src="/assets/images/GitHub-Mark-Light-32px.png" /></a></p>
        </section>
      </div>
    </footer>
  </body>
</html>
